:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

.dark {
  --background-color: #181a1b;
  --text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@media (max-width: 1023px) {
  .sidebar-overflow {
    overflow-x: hidden;
  }
}

/* scrollable-dialog */
.scrollable-dialog {
  overflow-y: auto;
  scrollbar-width: none;
  /* For Firefox */
}

.scrollable-dialog::-webkit-scrollbar {
  display: none;
}

.scrollable-dialog::-webkit-scrollbar-track {
  background: #f7fafc;
  border-radius: 8px;
}

.scrollable-dialog::-webkit-scrollbar-thumb {
  background-color: #cbd5e0;
  border-radius: 8px;
}

.dark .scrollable-dialog {
  scrollbar-color: #4b5563 #1f2937;
}

.dark .scrollable-dialog::-webkit-scrollbar-track {
  background: #1f2937;
}

.dark .scrollable-dialog::-webkit-scrollbar-thumb {
  background-color: #4b5563;
}

/* no-scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* step-content */
.step-content {
  overflow-y: auto;
  scrollbar-width: none;
  /* For Firefox */
}

.step-content::-webkit-scrollbar {
  display: none;
}
