:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

.dark {
  --background-color: #181a1b;
  --text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}
